*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  font-size: 24px;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  background-image: url(https://images.unsplash.com/photo-1581642087552-f408e81c9287?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
}

input {
  display: block;
  margin: 50px auto;
  width: 400px;
  height: 50px;
  outline: none;
  font-size: 32px;
  text-align: center;
  border-radius: 5px;
}

.picture {
  width: 320px;
  border-radius: 10px;
  transition: transform 0.2s;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.651);
  cursor: pointer;
}

.picture:hover {
  transform: scale(1.5);
}

.list {
  font-size: 20px;
  margin-right: 20px;
}
